<!doctype html>
<html>
<head>
    <title>OAuth</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
      
    </style>
</head>
<body>
<div style="">
<div class="wrapper">
<img  src="https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__340.jpg"  width = 1950 height = 550>

    <div class="jumbotron text-center primary">
        <h1><span class="fa fa-lock"></span><div >Upload Files to Your Google Drive</div></h1>
        <p>Login or Register with:</p>

        <a href="<%=url%>" class="btn btn-primary"><span class="fa fa-google-plus"></span> Google</a>

    </div>
    
     

   

</div>
</div>
</body>
</html>